body {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute; 
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
}
#fullscreen {
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
#avatar {
    height: 180px;
    border-radius: 100%;
    border: 5px solid white;
    margin-bottom: 40px;
}

input {
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 2px;
    padding: 5px 20px 5px 15px;
    margin: 5px 5px;
    width: 100px;
    text-align: center;
    border-color: white;
    border-width: 2px;
    border-style: solid
}
button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 5px 5px;
    margin: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    width: 110px;
    border-color: white;
    border-width: 2px;
    border-style: solid
}
h1 {
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 4em;
    font-family: 'Open Sans';
    margin: -10px 0;
}
h3 {
    color: white;
    padding-bottom: 20px;
    font-weight: thin;
}
.content {
    padding-top: 100px;
    padding-bottom: 40px;
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    border-radius: 100%;
    border: 2px solid white;
    color: white;
    margin: 8px;
    display: inline-block;
    list-style: none;
    width: 65px;
    height: 65px;
}
li:hover {
    color: white;
    text-decoration: none;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
}
a {
    color: white;
    padding: 15px;
    text-decoration: none;
}
.description {
    display: none;
}

#image-credit {
    border-style:none;
    text-align: center;
    width: 100%;
}
@media (max-width: 450px) {
ul {
    text-align: center;
}
li {
    border-radius: 0%;
    border: none;
    color: white;
    margin: 8px;
    display: block;
    list-style: none;
    margin: 10px 0px;
    text-align: center;
    height: auto;
    width: auto;
}
li:hover {
    background-color: none;
    transition: none;
}
a {
    text-align: justify;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 15px;
    padding-left: 30px;
    width: 70%;
}
a:hover {
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
}
.description {
    display: inline-block;
    color: white;
    font-family: Arial;
    margin-left: 40px;
}
.content {
    padding-top: 60px;
}
}
table {
    padding-top: 20px;
}

p{
    margin-top: 1em;
    text-align: left;
    color: #aaa;
}
td{
    padding: 0;
    margin: 0;
    width: 10px;
    height: 10px;
}


.space {
    width: 10px;
    height: 10px;
    position: relative;
}
.arrow-up {
    animation-name: go-up;
    animation-duration: .5s;
    animation-timing-function: linear;
    position: absolute;
    z-index: 0;
    border-top: solid 5px transparent;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    border-bottom: solid 5px white;
}
.arrow-down {
    animation-name: go-down;
    animation-duration: .5s;
    animation-timing-function: linear;
    position: absolute;
    z-index: 2;
    border-left: solid 5px transparent;
    border-bottom: solid 5px transparent;
    border-right: solid 5px transparent;
    border-top: solid 5px white;
}
.arrow-right {
    animation-name: go-right;
    animation-duration: .5s;
    animation-timing-function: linear;
    position: absolute;
    z-index: 2;
    border-top: solid 5px transparent;
    border-bottom: solid 5px transparent;
    border-right: solid 5px transparent;
    border-left: solid 5px white;
}
.arrow-left {
    animation-name: go-left;
    animation-duration: .5s;
    animation-timing-function: linear;
    position: absolute;
    z-index: 3;
    border-top: solid 5px transparent;
    border-left: solid 5px transparent;
    border-bottom: solid 5px transparent;
    border-right: solid 5px white;
}